@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);

#cheatsheet {
  margin-top: 50px;
  font-family: 'Droid Sans', sans-serif;
  display: flex;
}

#cheatsheet article { border: 1px solid black; }

#cheatsheet article > div {
  display: flex;
}

#cheatsheet article > div div {
  display: block;
  margin-left: 10px;
  min-width: 100px;
}

#cheatsheet article, section {
  display: block;
  padding: 5px;
}

#cheatsheet article > h5 {
  padding-bottom: 3px;
  padding-top: 5px;
  margin-top: 0;
  text-decoration: none;
  color: white;
  background-color: black;
}

#cheatsheet h5 {
  font-weight: 700;
  color: black;
  padding-left: 5px;
  margin-bottom: 0;
  text-decoration: underline;
}

#cheatsheet ul {
  margin-bottom: 0;
  margin-right: 5px;
  padding-left: 10px;
  list-style: none;
}

#cheatsheet ul li a {
  text-decoration: none;
  color: black;
  font-size: .85em;
  font-weight: 400;
}

#cheatsheet ul li a:hover {
  color: white;
  background-color: black;
}