#cheatsheet #selectors, #attributes { float: left; }

#cheatsheet h5 {
  font-weight: 700;
  margin-bottom: 0;
}

#cheatsheet ul {
  padding: 5px;
  list-style: none;
}

#cheatsheet ul li a {
  text-decoration: none;
}

#cheatsheet ul li a:hover {
  color: white;
  background-color: black;
}